network:
  version: 2
  renderer: networkd
  ethernets:
    {{ ansible_default_ipv4.interface }}:
      addresses: [{{ ip.stdout }}]
      gateway4: {{ gateway }}
      nameservers:
        addresses: [{{ dns }}] 
